/*
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Lato', sans-serif; 
*/

*{
  margin: 0;
  padding: 0;
}

.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  max-width: 1024px;
  background-color: rgb(245, 243, 243);
}

.title {
  align-self: flex-end;
  padding-bottom: 20px;
  margin-left: 5px;
}

.name {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
}

.profession {
  margin-top: 10px;
  text-transform: uppercase;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.photo {
  margin: 20px 5px 20px 0;
  width: 180px;
  height: 180px;
  align-self: center;
  background-image: url(./img/MyPhotoResume.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid rgb(143, 173, 212);
  border-radius: 50%;
}

.contact {
  display: flex;
  justify-content: space-around;
  max-width: 1024px;
  margin: auto;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid rgb(245, 243, 243);
}

.contact__h3 {
  margin-bottom: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

.contact__p {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: red;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;
}

.about {
  margin: 50px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.main__h2 {
  margin: 10px 0 10px 50px;
  font-family: 'Lato', sans-serif; 
  font-size: 22px;
}

.list {
  margin: 0 0 0 70px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 16px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1024px;
  height: 150px;
  margin: 0 auto;
  background-color: rgb(245, 243, 243);
}

.footer__name {
  align-self: center;
  padding-bottom: 5px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: black;
}

